<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>EasyVahan</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" href="css/home.css" />

  <!-- font-awesome -->
  <script src="https://kit.fontawesome.com/721734a928.js" crossorigin="anonymous"></script>
  
  
  <!-- Google-fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
  

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>

<body>
  <!--- Nav-bar --->
  <section id="title">
    <nav class="navbar navbar-expand-lg navbar-light main-menu">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">EasyVahan</a>
      <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#Services">Services</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#contact">Contact us</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">FAQ</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/myprofile">My Profile</a>
          </li>
        </ul>
      </div>
    </nav>

    <!--- Title-section ---->
    <div class="row">
      <div class="col-lg-6 ">
        <div>
          <h1 class="big-heading">EasyVahan</h1>
          <p class="title-paragraph">In publishing and graphic design, Lorem ipsum is a placeholder text commonly
            used to demonstrate the visual form of a document.</p>
          <div>
            <a href="/login"><button type="button" class="btn btn-danger title-button">Book Services</button></a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 ">
        <div>
          <img class="truck-image" src="images/truck.png" alt="truck-image">
        </div>
      </div>
    </div>
  </section>

  <!-- About Us-->

  <section id="about">
    <h1>About Us</h1>
    <div class="row">
      <div class="col-lg-6 ">
        <div>
          <p>Welcome to EasyVahan, your number one source for all things [product]. We're dedicated to providing you the very best of Transport services.
            Founded in 2020 by Bytecoder , EasyVahan has come a long way from its beginnings in West Bengal.</p>

          <p>&nbsp;&nbsp; When Bytecoder first started out, their passion for Reduce cost of Tranport drove them to start their own business.
            We hope you enjoy our Services as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about-us-img">
          <img src="images/office-people.png" alt="office-people">
        </div>
      </div>
    </div>
  </section>


  <!---Our-Services--------->

  <section id="Services">
    <h1>Our <span>Services</span></h1>
    <div class="container">

      <div class="row">

        <div class="col-lg-6">
          <img src="images/cart-load.png" alt="cart-load">
          <h4>Packaging And Storage</h4>
          <p>Packaging is the technology of enclosing or protecting products for distribution, storage, sale, and use.</p>
        </div>

        <div class="col-lg-6">
          <img src="images/global-transport1.png" alt="global-transport">
          <h4>Worldwide Transport</h4>
          <p>We are one of teh worlwide transport company in the world, we provide on time service.</p>
        </div>
      </div>
      <div class="row">

        <div class=" col-lg-6">
          <img src="images/fast-delivery.png" alt="fast-delivery">
          <h4>Door to Door delivery</h4>
          <p>Technology of enclosing or protecting products for distribution, storage, sale, and use.</p>
        </div>

        <div class=" col-lg-6">
          <img src="images/highway.png" alt="highway">
          <h4>Ground Transport</h4>
          <p>Worlwide transport company in the world, we provide on time service through ground.</p>
        </div>
      </div>
    </div>
  </section>


  <!---Contact-us--------->

  <section id="contact">
    <h1>Contact <span>Us</span></h1>
    <div class="row">

      <div class="feature-box col-lg-5">
        <h4>CONTACT INFORMATION</h4>
        <div class="column">
          <img src="images/google-map.jpeg" style="width:100%">
        </div>
        <div class="contact-information">
          <h5>WANT TO HELP OR HAVE QUESTIONS ?</h5>
          <div class="address">
            <h6><i class="fas fa-map-marker-alt"></i> Address</h6>
            <p>56,Kolkata xyz market West Bengal -700112</p>
          </div>
          <div class="Contact">
            <h6><i class="fas fa-phone-alt"></i> Contact us</h6>
            <p>(033) 56568989
              Admin@EasyVahan.com
              www.EasyVahan.com</p>
          </div>
          <div class="social-media"><br>
            <h6><i class="fas fa-hashtag"></i> Social media</h6>
            <div class="social-media-icon">
              <a href="#"><i class="fab fa-twitter  "></i></a>
              <a href="#"><i class="fab fa-facebook-f "></i></a>
              <a href="#"><i class="fab fa-instagram "></i></a>
              <a href="#"><i class="fas fa-envelope  "></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="feature-box col-lg-7">
        <h4>GET IN TOUCH WITH US</h4>
        <div class="column">
          <div class="form-section">
            <form action="#">
              <label for="fname">First Name:</label><br>
              <input type="text" id="fname" name="firstname" placeholder="Your name.."><br>
              <label for="lname">Last Name:</label>
              <input type="text" id="lname" name="lastname" placeholder="Your last name.."><br>
              <label for="country">Country:</label><br>
              <select id="country" name="country">
                <option value="australia">India</option>
                <option value="canada">Nepal</option>
                <option value="usa">Bycott China</option>
                <option value="usa">Bangladesh</option>
                <option value="usa">Myanmar</option>
                <option value="usa">Mc Pakistan</option>
              </select><br>
              <label for="subject">Subject:</label><br>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea><br>
              <button type="button" class="btn btn-danger btn-lg">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    </div>
  </section>

  <!-- testimonial-Section -->
  <section class="coloured-section" id="testimonials">
    <h1>Testimonials</h1>
    <div id="testimonials-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-padding">
          <h6 class="feedback">Your Trust, Your Vahan</h6>
          <img class="testimonial-image" src="images/truck1.jpg" alt="truck1">
        </div>

        <div class="carousel-item container-padding">
          <h6 class="feedback">Best Sevices</h6>
          <img class="testimonial-image" src="images/truck2.jpg" alt="truck2">
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonials-carousel" role="button" data-slide="prev">
        <span class=" carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonials-carousel" role="button" data-slide="next">
        <span class=" carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>


  <!-- Press -->

  <section class="coloured-section" id="press">
    <div class="row">
      <div class="col-lg-6 ">
        <div>
          <img class="press-img" src="images/techcrunch.png" alt="tc-logo">
          <img class="press-img" src="images/tnw.png" alt="tnw-logo">
        </div>
      </div>

      <div class="col-lg-6 ">
        <div>
          <img class="press-img" src="images/bizinsider.png" alt="biz-insider-logo">
          <img class="press-img" src="images/mashable.png" alt="mashable-logo">
        </div>
      </div>
    </div>
  </section>

  <!---Footer-Section--------->
  <section id="footer">
    <div class="row">
      <div class="col-lg-3 col-md-2">
        <h4>Contact</h4>
        <div class="footer-contact">
          <div class="address">
            <h6><i class="fas fa-map-marker-alt"></i> Address</h6>
            <p>56,Kolkata xyz market West Bengal -700112</p>
          </div>
          <div class="Contact">
            <h6><i class="fas fa-phone-alt"></i> Contact us</h6>
            <p>(033) 56568989
              Admin@EasyVahan.com
              www.EasyVahan.com</p>
          </div>
          <div class="Social-media"><br>
            <h6><i class="fas fa-hashtag"></i> Social media</h6>
            <div class="Social-media-icon-bottom">
              <a href="#"><i class="fab fa-twitter "></i></a>
              <a href="#"><i class="fab fa-facebook-f "></i></a>
              <a href="#"><i class="fab fa-instagram "></i></a>
              <a href="#"><i class="fas fa-envelope "></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-2">
        <h4>Navigation</h4>
        <div class="navigation">
          <a href="#">
            <h6>Home</h6>
          </a>
          <a href="#Services">
            <h6>Services</h6>
          </a>
          <a href="#contact">
            <h6>Contact-us</h6>
          </a>
          <a href="#about">
            <h6>About-us</h6>
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-2">
        <h4>Useful links</h4>
        <div class="navigation">
          <a href="#">
            <h6>privacy Policy</h6>
          </a>
          <a href="#">
            <h6>Forum</h6>
          </a>
          <a href="#">
            <h6>Support</h6>
          </a>
          <a href="#">
            <h6>FAQ</h6>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright">
      <p>copyright @ 2020 EasyVahan</p>
    </div>
  </section>

</body>

</html>
