<h1>
    EasyVahan
</h1>
<form action="/login" method="POST">
  <body>
    <link rel="stylesheet" href="css/login.css" />
  <div id="login-box">
<div class="left">
<h1>Log In</h1>

<input type="text" name="username" placeholder="E-MAIL" /><br>
<input type="password" name="password" placeholder="PASSWORD" /><br>
<input type="submit" name="signup_submit" value="Sign In" />
</div>

<div class="right">
<span class="loginwith">Sign in with<br />social network</span>

<button class="social-signin facebook"><a href="https://www.facebook.com/" target="_self" color="white">Sign Up with facebook</button>
<button class="social-signin google">Sign Up with Google+</button>

</div>
<div class="or">OR</div>
</div>
</body>
</form>
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/register">Register</a></li>
</ul>
