<h1>
  Registration Page
</h1>

<form action="/register" method="POST">
  <body>
    <link rel="stylesheet" href="css/register.css" />

    <div class="drive">
      <p>
        <a href="/signup">Register As CLA</a>
      </p>
    </div>
    <div class="drive">
      <p>
        <a href="/signup">Register As OWNER</a>
      </p>
      </div>
  </body>
</form>
