<body>
  <link rel="stylesheet" href="css/search.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

  <div id="booking" class="section">
    <div class="section-center">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-md-push-5">
            <div class="booking-cta">
              <h1>Easy Vahan</h1>
              <p>
                Book A Trip At Effortlessly.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-7">
            <div class="booking-form">
              <form>
                <!---Source City----------------------------------------------->
                <div class="row">
                  <div class="col-sm-7">
                    <div class="form-group">
                      <span class="form-label">Source City</span>
                      <select class="form-control">
                        <option>Kolkata</option>
                        <option>Delhi</option>
                        <option>Bihar</option>
                        <option>Orissa</option>
                        <option>Jharkhand</option>
                        <option>Nepal</option>
                        <option>Mumbai</option>
                        <option>Chennai</option>
                        <option>Bengaluru</option>
                        <option>Uttar Pradesh</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div>
                <!---Loading Date--------------------------------------------->
                <div class="row">
                  <div class="col-sm-9">
                    <div class="form-group">
                      <span class="form-label">Loading Date</span>
                      <input class="form-control" type="date" required>
                    </div>
                  </div>
                </div>
                <!---Carraige Type------------------------------------------->
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <span class="form-label">Carraige Type</span>
                      <select class="form-control">
                        <option>Container</option>
                        <option>Loose</option>
                      </select>
                      <span class="select-arrow"></span>
                    </div>
                  </div>
                </div><br>
                <!---Search-------------------------------------------------->
                <div class="form-btn">
                  <button class="submit-btn">Search</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
